
h1  {
  font-family: 'Alfa Slab One', cursive;
}

h3 {
  font-family: 'Metrophobic', sans-serif;
}

p {
  font-family: 'Metrophobic', sans-serif;
}

.radio {
  font-family: 'Metrophobic', sans-serif;
}

.btn {
  background-color: red;
  color; black;
}
