
h1  {
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
}

h3 {
  font-family: 'Metrophobic', sans-serif;
}

p {
  font-family: 'Metrophobic', sans-serif;
}

.radio {
  font-family: 'Metrophobic', sans-serif;
}

.btn {
  background-color: #00b3b4;
  color; black;
  margin-bottom: 10px;
}

.jumbotron {
  background-color: #00b3b4;
}
